
#phpcore_benchmark #bench_transparent{
	position: absolute; 
	z-index: 100; 
	left: 0px;
	top: 0px; 
	width: 100%; 
	height: 100%; 
	opacity: 0.7;
	background-color: white; 
	display: none
}

#phpcore_benchmark .bench_title {
	text-align: center;
}

#phpcore_benchmark  .bench_container {
	position: absolute; 
	top: 0px; 
	z-index: 101;
	right: 250px; 
	width: 150px; 
	height: 15px; 
	overflow: hidden; 
	border: 1px solid #CCCCCC;
	background-color: white;
	font-family: Verdana;
	cursor: pointer;
	font-size: 10px
}

#phpcore_benchmark ul {
	margin: 5px;
	padding: 5px;
	border: 1px solid #CCCCCC;
}

#phpcore_benchmark li {
	list-style: none;
	padding-top: 5px;
}