
.Panel {
	width: 650px;
	margin: auto;
	margin-top: 10px;
}

.Panel .AnonymousAuthenticate {
	border: 1px solid #AAAAAA;
	cursor: pointer;
	line-height: 42px;
	clear: both;
	margin-top: 10px;
}

.Panel .AnonymousAuthenticate:hover {
	background-color: white;
}

.Panel .AnonymousAuthenticate img {
	float: left;
	margin: 5px;
}


