.Chart {
	position: absolute;
	top: 80px;
	left: 0px;
	right: 0px;
	bottom: 0px;	
}

.Chart * {
	-moz-user-select: none;
	-webkit-user-select: none;
}

.Chart .BarContainer {
	position: absolute;
	left: 50px;
	right: 50px;
	bottom: 0px;
	top: 0px;	
}

.Chart .Line {
	border-top: 1px dashed #B7B6AF;
	border-bottom: 1px solid transparent;
	left: 0px;
	right: 0px;
	position: absolute;
}

.Chart .BaseLine {
	bottom: 10%;
	position: absolute;
	left: 0px;
	right: 0px;
	border-top: 1px solid black;
}

.Chart .Bar {
	position: absolute;
	bottom: 10%;
	border: 1px solid black;
	background-color: #6769AC;
	background-image: url(../images/shade.png);
	background-repeat: repeat-x;
	background-position: bottom;
}

.Chart.Inverse .Bar {
	background-image: url(../images/shade_inverse.png);
	background-position: top;
}

.Chart .Bar .BarContent {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;	
	margin-top: 1px;
	margin-bottom: -1px;
}

.Chart .Bar.Selected {
	border: 4px solid #4b75f5;
	margin-left: -3px;
	border-bottom: 1px solid black;
	background-color: rgba(204,230,255);
}

.Chart .Bar .Graph {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	right: 3%;
	left: 3%;
	position: absolute;
	border-bottom: 1px solid #999999;
}

.Chart .Bar .Graph[fill_id],
.Chart .Bar .Graph[left_id],
.Chart .Bar .Graph[right_id] {
	border-bottom: 1px solid black;
}

.Chart .Bar .Graph > div {
	position: absolute;
	top: 0px;
	width: 20%;
	height: 100%;
}

.Chart .Bar .Graph > .Left {
	left: 0px;
	
}

.Chart .Bar .Graph > .Right {
	right: 0px;
}

.Chart .BarTitle {
	position: absolute;
	bottom: 6%;
	height: 2%;
	font-weight: bold;
	text-align: center;
	writing-mode: tb-rl;
	cursor: pointer;
}

.Chart .BarTitle canvas {
	position: absolute;
	left: 20%;	
	width: 1000%;
	max-width: 300px;
}

.Chart .Legend .Hierarchy .LineTitle {
	font-style: italic;
	color: #1d00ea;
	text-align: left;
	right: 5px;
	left: auto;
}
.Chart .Legend .Hierarchy .Line {
	border-top: 1px dotted rgba(29,0,234,0.5);
}

.Chart .LineTitle {
	color: #999999;
	position: absolute;
	font-size: 13px;
	font-weight: bold;
	text-align: right;
	left: 5px;
	font-size: 11px;
	width: 35px;
}

.Chart .SelectedGraph {
	z-index: 10;
	position: absolute;	
	left: -5px;
	right: -5px;
	border: 1px solid black;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-color: rgba(255,255,207,0.7);
}

.Chart .ClusterContainer {
	position: absolute;
	bottom: 10%;
}

.Chart .ParentCluster {
	background-color: #EEEFEF;
	position: absolute;
	border: 2px solid gray;
	border-bottom: 0px;
	margin-top: -2px;
	top: 0px;
	bottom: 0px;
	width: 50%;
}

.Chart .ClusterContainer.Selected .ParentCluster {
	border: 3px solid #006e00;
	border-bottom: 0px;
}

.Chart .ClusterContainer.Selected .ParentCluster.Dimmed {
	border: 3px solid rgba(0,110,0,0.4);
	border-bottom: 0px;
}


.Chart .ClusterContainer.Selected.Hover .ParentCluster {
	border-color: red;
}


.Chart .ClusterContainer.Selected.Hover .ParentCluster.Dimmed {
	border-color: rgba(255,0,0,0.3);
}

.Chart .Left.ParentCluster,
.Chart .ClusterContainer.Selected .Left.ParentCluster {
	border-right: 0px;
	left: 0px;
}


.Chart .Right.ParentCluster,
.Chart .ClusterContainer.Selected .Right.ParentCluster {
	border-left: 0px;
	right: -2px;
}


.Chart .SetAsRoot {
	width: 23px;
	height: 23px;
	position: absolute;
	top: -17px;
	left: 50%;
	margin-left: -12px;
	cursor: pointer;
}

.Chart .SetAsRoot.Selected {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #848484;
	background-color: rgba(204,230,255,0.5);
}

.Chart .SetAsRoot:hover,
.Chart .SetAsRoot:hover,
.Chart .ClusterContainer.Selected.Hover .SetAsRoot {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #848484;
	background: url(../images/arrow_down.png) no-repeat 50% 0%;
	background-color: rgba(244,163,87,0.18);
}

.Chart .Bar .SetAsRoot {
	height: 16px;	
}

.Chart #Loading {
	left: 5%;
}

.Chart .Bar.Splitable {
	border: 4px solid red;
	border-bottom: 1px solid black;
	margin-left: -3px;
	background-color: #fbdbb5;
}

.Chart .Bar.Selected .SetAsRoot:hover {
	top: -20px;	
}

.Chart .ParentCluster.Mergeable,
.Chart .Selected.ClusterContainer .ParentCluster.Mergeable {
	border-color: red;
	border-width: 4px;
	background-color: #fbdbb5;
}

.Chart .ParentCluster.Splitable,
.Chart .Selected.ClusterContainer .ParentCluster.Splitable {
	border: 6px double red;
	border-bottom: 0px;
}

.Chart .Right.ParentCluster.Splitable,
.Chart .Selected.ClusterContainer .Chart .Right.ParentCluster.Splitable {
	border-left: 0px;
}

.Chart .Left.ParentCluster.Splitable,
.Chart .Selected.ClusterContainer .Left.ParentCluster.Splitable {
	border-right: 0px;
}

