

/********************************************
              GENERAL STYLES
*********************************************/

* {
	margin: 0px;
	padding: 0px;
	font-size: 11px;
	font-family: Verdana;
	-webkit-user-select: -webkit-none;
	-moz-user-select: -moz-none;
}

body {
	background-color: #EEEFEF;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

input, textarea, .Comments, .Comments * {
	-webkit-user-select: text;
	-moz-user-select: text;	
}

ul {
	list-style: none;
}


fieldset {
	padding: 5px;	
	margin: 5px;
	border: 1px solid #AAAAAA;
}

legend {
	margin-left: 20px;
	text-align: left;	
	padding-left: 5px;
	padding-right: 5px;
}

.Disabled {
	color: #CCCCCC;
}

.Splitter {
	position: absolute;	
}

.ui-resizable-w  {
	left: 0px;
}

.ui-resizable-e  {
	right: 0px;
}

.ui-resizable-e, .ui-resizable-w {	
	top: 0px;
	position: absolute;
	width: 5px;
	height: 100%;
	cursor: we-resize;
}

#Loading {
	position: absolute;
	z-index: 5;
	left: 50%;
	margin-left: -16px;
	top: 40px;
	display: none;	
}



.Column .Box {
	background-color: white;
	border: 1px solid black;
	position: relative;
	margin: 10px;
	background-image: url(../images/block-bg.png);
	background-repeat: repeat-x;
}

.Column .Box > * > .ui-resizable-s {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	right: 0px;
	height: 3px;
	cursor: s-resize;
}

.Column .Box > h4 {
	/*background-color: #D4D4D3;*/
	text-align: center;
	background-image: url(../images/folding-down.gif);
	background-repeat: no-repeat;
	background-position: 2px 50%;	
}

.Column .Box > h4 + * {
	overflow: auto;	
	margin-bottom: 5px;
	margin-top: 5px;
}

.Column .Box.Reduced > h4 {
	background-image: url(../images/folding-right.gif);
}

.Menubar {
	background: url(../images/menubar.png) repeat-x;
	height: 20px;
}

.Menubar h3 {
	padding-top: 0px;
	padding-bottom: 1px;
	padding-left: 2px;
	padding-right: 2px;
}

.Menubar > li {
	margin-top: 2px;
	border: 1px solid transparent;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	position: relative;
	float: left;
	margin-left: 10px;
	cursor: default;
}

.Menubar > li:hover {
	border: 1px solid #4B4D54;
}

ul.Menulist {
	position: fixed;
	z-index: 10;
	display: none;
	border: 1px solid #5F5F5F;
	background-color: #F0F0F0;
	padding: 2px;
}

ul.Menulist > li {
	border: 1px solid transparent;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding-left: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 30px;
	cursor: default;
	white-space: nowrap;
}

ul.Menulist > li:hover {
	border: 1px solid #A8D8EB;
	background-color: #DEEDF4;
}


.Options {
	border: 1px solid #CCCCCC;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin: 5px;
	margin-left: 10px;
	width: 50px;
	padding: 2px;
	cursor: default;
}

.Options:hover {
	border: 1px solid black;	
}

.ui-effects-transfer {
	z-index: 5;
	border: 1px solid black;
	background-color: white;
	opacity: 0.2;	
}

.Remark {
	margin: auto;
	text-align: center;
	width: 400px;
	border: 1px solid #384EAC;
	padding: 5px;
	margin-top: 20px;
	color: #384EAC;
}

li.Selected {
	background-image: url(../images/checked.png);
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

.Loading {
	width: 12px;
	height: 12px;
}

.Options {
	text-align: center;
	position: relative;
}


.Menulist {
	text-align: left;
}

.Column {
	bottom: 0px;
	top: 20px;
	background-color: #DFE3EA;
	border: 0px solid #9B9C9D;
	position: absolute;
	z-index: 2;
	overflow-y: auto;
	overflow-x: visible;
}

/********************************************
               LEFT COLUMN
*********************************************/

.Left.Column {
	border-right-width: 1px;
	width: 350px;
	left: 0px;
	overflow: hidden;
}

.Left.Column p {
	text-align: center;
	margin: 10px;
}

.Left.Column > p select {
	padding: 2px;
	max-width: 43%;
}

.Left.Column #handle_Clusters .ui-slider-tooltip {
	width: 20px;
	margin-left: -5px;
}

.Left.Column .Box > .Comments {
	left: 3px;
	right: 3px;
	height: 100%;
	min-height: 40px;
	overflow: auto;
	font-size: 12px;
}

.Left.Column .Box > .Comments > .Graph {
	background-color: #6666FF;
	-wekbit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding-left: 2px;
	padding-right: 2px;
}

.Left.Column .Box .Position {
	text-align: center;	
}

.Left.Column .GraphsList ol {
	height: 100%;
	text-align: center;
	overflow: auto;
}


.Left.Column .GraphsList li {
	position: relative;
	border-top: 1px solid #a4a4a4;
	padding: 1px;
}

.Left.Column .GraphsList li > div {
	position: absolute;
	left: 0px;
	width: 15%;
}

.Left.Column .GraphsList li > div + div {
	left: auto;
	right: 0px;
}

.Left.Column .GraphsList li > .Name {
	position: relative;
	z-index: 2;
	text-align: center;
	width: 100%;	
}

.Left.Column .GraphsList ol li {
	cursor: default;
	position: relative;
}

.Left.Column .GraphsList ol li:hover {
	background-color: #DFE3EA;
}

.Left.Column .GraphsList .SelectedGraph .Name {
	border: 1px dotted black;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	width: 95%;
	left:2.5%	
}

.Left.Column .ui-slider {
	margin-top: 20px;
	margin-bottom: 20px;
	float: left;
	width: 80%;	
}

.Left.Column #Clusters {
	display: none;
}

.Left.Column .ClustersNumber img {
	margin: 5px;
	margin-top: 18px;
	float: left;
	cursor: pointer;
}

.Left.Column .ClustersNumber p > select {
	padding-right: 5px;
}


.Left.Column .ClustersNumber .ui-slider .ui-slider-tooltip {
	display: block;
	position: absolute;
	top: -25px;
	text-align: center;
	padding: .2em;
	font-size: .9em;
	width: 8em;
	margin-left: -4em;
}

.Left.Column li {
	list-style: none;
}

.Left.Column select[name=criterion] {
	width: 100px;
}

.Left.Column .SortAsc {
	display: block;
	float: right;
	width: 16px;
	height: 30px;
	background-image: url(../images/folding-down.gif);
	background-repeat: no-repeat;	
	background-position: 50% 50%;
	cursor: pointer;
}

.Left.Column .SortAsc.AscUp {
	background-image: url(../images/folding-up.gif);
}


/* Criteria */

.Left.Column .Criteria {
	text-align: center;
	padding: 2px;
	max-height: 195px;
}

.Left.Column .Criteria li {
	margin-bottom: 2px;
	text-align: left;
}

.Left.Column .Criteria input[type=text] {
	width: 30px;
}

.Left.Column .Criteria select[name=type] {
	width: 62px;
}


.Left.Column .Criteria > li.Criterion {
	border: 1px solid #CCCCCC;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;	
	margin: 5px;
	padding: 5px;
}

.Left.Column .Criteria li.Criterion .Options {
	background-image: none;
	float: right;
	height: 12px;
	width: 20px;
		
}

.Left.Column .Criteria li.Criterion .Options .Menulist {
	margin-left: 22px;	
}


.Left.Column .Criteria li.Criterion .Options .Menulist li:hover {
	background-color: inherit;
}


.Left.Column .Criteria input[name=apply] {
	float: right;
	margin-right: 5px;	
}

.Color.Options li:hover {
	background-color: inherit;
}


/********************************************
               RIGHT COLUMN
*********************************************/

.Right.Column {
	border-left-width: 1px;
	right: 0px;
	width: 240px;
}

.Right.Column .Box .Box {
	display: none;	
}

.Right.Column .View.Selected {
	background-color: #FFFCDF;
}

.Right.Column .View img {
	width: 100%;
}

.Right.Column .View p {
	margin: 10px;
}


.Template {
	display: none;	
}

iframe {
	position: absolute;
	visibility: hidden;
}

.Right.Column .Box > .TabContainer > p {
	text-align: right;
	margin: 0px;
	padding: 0px;
	margin-right: 3px;	
}

.Box > .TabContainer > p > select,
.Box > .TabContainer > p > input {
	font-size: 10px;
	height: 20px;
	line-height: 20px;	
}

.Box .TabPane {
	display: none;	
}

.Box h5 {
	padding: 3px;
	text-indent: 5px;	
}

.Box .TabPane.Visible {
	display: block;	
}

.Right.Column .Box img {
	height: 183px;
}

.Right.Column .Box ol,
.Right.Column .Box dl {
	margin: 5px;
	background-color: white;
	border: 1px solid #CCCCCC;	
	border-top: 0px;
}

.Right.Column .Box ol li,
.Right.Column .Box dl dt {
	border-top: 1px solid #DDDDDD;	
	padding: 1px;
	cursor: default;
}

.Right.Column .Box dl dt {
	font-weight: bold;	
	text-indent: 5px;
}

.Right.Column .Box ol li:hover {
	background-color: #DFE3EA;
}

.Right.Column .Box dl dd {
	text-indent: 10px;
}

.Right.Column .Color.Options ul {
	margin-left: -55px;
	margin-top: -10px;
}

.Right.Column input[type=text] {
	width: 90px;
}

.Right.Column span.Options {
	margin-left: 0px;	
}



/********************************************
               MIDDLE COLUMN
*********************************************/

.Main {
	position: absolute;
	left: 350px;
	right: 240px;
	height: 100%;
}

/********************************************
                   TOOLS
*********************************************/

.Main .Tools h1 {
	margin: 5px;
	bottom: 15px;
	position: absolute;
}

.Main .Tools .ui-slider-label-show {
	cursor: pointer;	
}

.Main .Tools .ui-slider-horizontal {
	width: 90%;
	margin-top: 5px;
	left: 5%;
	position: relative;	
}


.Main .Tools .Part {
	position: absolute;
	left: 0px;
	height: 100%;
	/*background-color: #CCCCCC;*/
	background-image:url(../images/block-bg.png);
	background-repeat: repeat-x;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
}


.Color.Options p {
	text-align: center;
}

.Color.Options .Menulist li {
	padding: 1px;
}


.DraggingGraph {
	text-align: center;
	width: 100px;
	border: 1px solid blue;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px;
	background-color: #9999FF;
}


/********************************************
               MODAL DIALOGS
*********************************************/


.Background {
	position: absolute;
	z-index: 8;
	background-color: black;
	opacity: 0.7;
	-moz-opacity: 0.7;
	-wekit-opacity: 0.7;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	display: none;
}


.Modal {
	z-index: 200;
	border: 1px solid #5F5F5F;
	background-color: #F0F0F0;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	position: absolute;
	width: 500px;
	left: 50%;
	margin-left: -250px;
	border-top: 0px;
	top: 0px;
	display: none;
}

.Modal form {
	padding: 10px;
	text-align: center;
}


.Modal form > p {
	text-align: left;
	margin-left: 5px;
}

.TakeSnapshotDialog li {
	text-align: left;
	cursor: pointer;
	padding: 2px;
	padding-left: 10px;
		
}

.TakeSnapshotDialog li:hover {
	background-color: #DFE3EA;
}

.Modal form input[type=submit] {
	float: right;
}

.Modal table {
	width: 100%;
}

.Modal table .Label {
	text-align: right;
	padding-right: 10px;
	width: 100px;
}

.Modal table .Value {
	text-align: left;
}

.Panel h1 {
	font-size: 20px;
	border-bottom: 1px solid #CCCCCC;
	margin: 20px 30px 10px 0px;
}

.MyColumn form {
	margin-left: 10px;
	position: relative;
}

.MyColumn form .Loading {
	position: absolute;
	right: 50px;
	top: 50%;
	margin-top: -16px;
	display: none;
}

.MyColumn form .Message {
	display: none;
	margin: 5px 5px 5px 0px;
	padding: 2px;
	text-align: center;
	border: 1px solid #EFE259;
	background-color: #FFFFDF;
}

.MyColumn input[type=text], input[type=password] {
	border: 1px solid #CCCCCC;
	width: 150px;
}

.MyColumn dd {
	margin-bottom: 5px;
}

.MyColumn {
	width: 280px;
	float: left;
	padding: 5px;
}

.MyColumn fieldset {
	padding: 10px;
	margin: 0px;
	border: 1px solid #AAAAAA;
	margin-bottom: 10px;
}

.MyColumn legend {
	line-height: 32px;
	margin-left: 5px;
}

.MyColumn legend img {
	float: left;
	margin-left: 5px;
	margin-right: 8px;
}

