
.Panel h1 {
	margin: 20px;
}

.MyColumn {
	margin-left: 10px;
}

.MyCollections li {
	border: 1px solid transparent;
	margin: 2px;
	padding: 3px;
	cursor: pointer;
}

.MyCollections li:hover {
	border: 1px solid #CCCCCC;
	background-color: white;
}

.MyColumn.CollectionColumn {
	width: 500px;
}

fieldset {
	position: relative;
}


fieldset legend input {
	font-size: 9px;
}
